/* @import url(fonts links) */

/* variables list: */
:root {
    --main-color: #eee;
    --background-color: #fff;
    --secondary-color: burlywood;

    --s-space: .5rem;
    --m-space: 1rem;
    --l-space: 2em;
    --xl-space: 4rem;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

a, button {
    transition: all 0.2s ease;
}

#desktop-nav, .menu-links, #hum-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 2vh 2vw; */
}

.menu-links li, .menu-links a {
    margin: 0.5rem 1rem;
    color: black;
    font-size: calc(var(--m-space)* 1.5);
    padding-top: var(--m-space) ;
    padding-bottom: var(--m-space);
    list-style-type: none;
    text-decoration: none;
}

.menu-links a:hover {
    color:rgb(255,179,71);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.logo span {
    color: rgb(255,179,71); 
    text-decoration:line-through;
}

.logo h3 {
    font-size: var(--l-space);
}

#hum-nav {
    display: none;
}

.hum-menu {
    position: relative;
    display: inline-block;
}

.hum-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh 2vw;
    height: calc(var(--m-space) * 1.5);
    width: var(--l-space);
    cursor: pointer;
}

.hum-icon span {
    height: 4px;
    width: 100%;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.hum-menu-links {
    position: absolute;
    margin: 1% 10%;
    top: 100%;
    right: 0;
    background-color: #eee;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.hum-menu-links a {
    display: block;
    text-align: center;
    font-size: var(--m-space);
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}

.hum-menu-links li {
    list-style: none;
}

.hum-menu-links.open {
    max-height: 500px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transition: max-height 0.3s ease-in-out;
}

.hum-icon.open span:first-child {
    transform: rotate(45deg) translate(5px, 9px);
}

.hum-icon.open span:nth-child(2) {
    opacity: 0;
}

.hum-icon.open span:last-child {
    transform: rotate(-45deg) translate(5px, -8px);
}

section {
    padding-top: 3vh;
    min-height: 100vh;
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
}

/* profile section styles  */
#profile {
    display: flex;
    justify-content: center;
    gap: var(--xl-space);
    padding-bottom: 15vh;
}

.pic_container {
    display: flex;
    width: 400px;
    height: 400px;
    margin: auto 0;
    
}

.pic_container img {
    border-radius: 400px;
    box-shadow: 0 var(--s-space) var(--m-space)  rgba(31, 38, 135, 0.37);

}

.self-description {
    text-align: center;
    align-self: center;
    margin-left: 5%;
}

.social-media-conatiner {
    display: flex;
    justify-content: center;
    gap: var(--l-space);
    margin-top: var(--m-space);
}

.social-media-conatiner img:hover {
    filter: drop-shadow(0 8px 20px rgb(255,179,71)) drop-shadow(0 16px 40px rgb(255,204,128));
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: var(--m-space);
    margin: var(--l-space);
}

.btn-container button {
    background-color: white;
    color: black;
    border: black solid 3px;
    font-size: calc(var(--m-space)* 1.5);
    padding: var(--m-space) calc(var(--m-space)* 1.5);
    border-radius: var(--l-space);
    margin: var(--s-space) var(--m-space);
}

.btn-container button:hover {
    background-color: black;
    color: white;
    border: white solid 3px;
    box-shadow: 0 8px 16px rgb(31, 38, 135, 0.37);
}

/* about section styles */
#about {
    position: relative;
    text-align: center;
}

.title {
    text-align: center;
    font-size: calc(var(--l-space) * 1.5);
    margin: var(--m-space) 0;
}

.subtitle {
    text-align: center;
    font-size: calc(var(--m-space) * 1.5);
    color: gray;
    margin: var(--s-space) 0;
}

.about-section-container {
    display: flex;
    justify-content: space-between;
    gap: var(--xl-space);
    width: 95%;
    margin-top: 10vh;
}

.about-pic-container img {
    height: 400px;
    width: 400px;
    border-radius: var(--xl-space);
}

.about-details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-conatiner {
    display: flex;
    margin: var(--l-space) 0;
    gap: var(--l-space);
}

.details-container img {
    height: var(--xl-space);
    width: var(--xl-space);
}

.arrow-icon {
    position: absolute;
    height: var(--xl-space);
    width: var(--xl-space);
    right: 0;
    bottom: 2rem;
}

.details-container {
    flex: 1;
    text-align: center;
    padding: var(--l-space);
    border: 2px solid blanchedalmond;
    border-radius: var(--l-space);
}

.details-container:hover, .about-pic-container img:hover {
    box-shadow: 0 8px 16px rgb(255,179,71), 0 8px 16px rgb(255,204,128);
}

/* experience section styles */

#experience {
    position: relative;
    text-align: center;
}

#experience .details-containers img {
    height: var(--l-space);
    width: var(--l-space);
}

#experience img {
    height: var(--xl-space);
    width: var(--xl-space);
    margin-right: var(--s-space);
}

.about-containers {
    display: flex;
    justify-content: space-between;
    gap: var(--xl-space);
    margin-bottom: var(--xl-space);
}

.details-containers {
    display: flex;
    flex-direction: column;
    gap: var(--m-space);
    padding: var(--m-space);
    border: 2px solid blanchedalmond;
    margin-top: var(--l-space);
    border-radius: var(--l-space);
}

.articles-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--l-space);
}

.experience-article:hover {
    box-shadow: 0 8px 16px rgb(255,179,71), 0 8px 16px rgb(255,204,128);
}

.experience-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--m-space);
    border: #eee solid 2px;
    padding: var(--m-space);
    border-radius: var(--m-space);
}

/* projects section styles  */
#project {
    position: relative;
    text-align: center;
}

.project-description {
    text-align: center;
    font-size: var(--m-space);
    color: gray;
}

.btns-container button {
    background-color: white;
    color: black;
    border: black solid 2px;
    font-size: var(--m-space);
    padding: var(--m-space) calc(var(--m-space)* 1.5);
    border-radius: var(--l-space);
    margin: var(--s-space) var(--m-space);
}

.btns-container button:hover {
    background-color: black;
    color: white;
    border: white solid 2px;
    box-shadow: 0 8px 16px rgb(31, 38, 135, 0.37);
}

/* contact section styles */
#contact {
    position: relative;
    text-align: center;
}

.contact-info-global-container {
    display: flex;
    justify-content: space-between;
    gap: var(--l-space);
    padding: var(--m-space) var(--l-space);
    margin-top: var(--xl-space);
    background-color: #eee;
    border: #ddd;
    border-radius: var(--xl-space);
}

.contact-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--s-space);
    padding: var(--m-space) var(--l-space);
}

.contact-icon {
    height: var(--xl-space);
    width: var(--xl-space);
    margin: auto;
} 

.contact-container a {
    text-decoration: none;
    color: gray;
    font-size: calc(var(--m-space) * 1.5);
}
.contact-container a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: var(--s-space);
}


/* footer styles */
footer {
    text-align: center;
    padding: var(--s-space) var(--m-space);
    background-color: #eee;
    font-size: var(--s-space);
}

footer .menu-links {
    justify-content: center;
    font-size: var(--m-space);
    gap: var(--l-space);
    margin-bottom: var(--s-space);
}

footer p {
    text-align: center;
    font-size: var(--m-space);
    color: gray;
}